extends ../layouts/main/layout.pug

append variables

block title
  | Spick-Test

block content
  .main
    .container
      .main-top
        .main-top-ranges
          each el, index in ranges
            .range
              h5=el.title
                if el.min == 0
                  span=el.count
              .range-line
                .range-line-indicator
                  input.slider(type='range' min=el.min max=el.max step='1' value='50' id=`${el.title}${index}`)
                  .range-line-indicator-value(id=`${el.title}Value${index}`) 50
              .range-values
                if el.min > 0
                  .range-values-item.range-values-item-min=el.min
                    span=el.count
                else
                  .range-values-plug
                .range-values-item=el.max
                  span=el.count
          .main-top-ranges-img
            h5 Nose
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/index/range.svg')}
            .main-top-ranges-img-items
              span min
              span max
        .sort-by
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/index/sortby.svg')}
          .sort-by-list
            each el in sortByList
              button.sort-by-list_btn
                .sort-by-list-img
                  img.img-main(src=el.img alt)
                  if el.imgMin
                    img.img-mini(src=el.imgMin alt)
                p=el.title
      .main-results
        .main-results-top
          h5 1034,5 Results
          .main-results-top-btns#selected-items
            each el in resultsTopBtns
              .results-filter-item
                span=el
                btn.close_btn
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/index/close.svg')}
        .main-results-filters
          each el in filters
            .main-results-filters-title
              h6=el.title
              btn.toggle-btn
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/index/arrow-toggle.svg')}
            .main-results-filters-container
              each item, index in el.items
                .results-filters-item
                  input(type='checkbox' id=`${item}${index}`)
                  label(for=`${item}${index}`)=item
            #selected-items
          .main-results-img
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/index/list.svg')}
