extends ../layouts/main/layout.pug

append variables

block title
  | Spick-Test

block content
  .main
    .container
      .main-top
        .main-top-ranges
          .slider
            h5 Price Range
            input#slider1.range-slider(type='range' min='234' max='9999' value='1234')
            .slider-value-container
              output#slider1-value.slider-value 1234
              span $
            .slider-dot
            .main-top-ranges-values
              .main-top-ranges-values-item.main-top-ranges-values-item-min 234 $
              .main-top-ranges-values-item 9999 $
          .slider
            h5 ТНС, %
            input#slider2.range-slider(type='range' min='0' max='100' value='65')
            .slider-value-container
              output#slider2-value.slider-value 65
              p %
            .slider-dot
            .main-top-ranges-values
              .plug
              .main-top-ranges-values-item 65 %
          .slider
            h5 CBD, %
            input#slider3.range-slider(type='range' min='0' max='100' value='65')
            .slider-value-container
              output#slider3-value.slider-value 65
              span %
            .slider-dot
            .main-top-ranges-values
              .plug
              .main-top-ranges-values-item 65 %
          .main-top-ranges-img
            h5 Nose
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/index/range.svg')}
            .main-top-ranges-img-items
              span min
              span max
        .sort-by
          | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/index/sortby.svg')}
          .sort-by-list
            each el in sortByList
              button.sort-by-list_btn
                .sort-by-list-img
                  img.img-main(src=el.img alt)
                  if el.imgMin
                    img.img-mini(src=el.imgMin alt)
                p=el.title
      .main-results
        .main-results-top
          h5 1034,5 Results
          .main-results-top-btns#selected-items
            each el in resultsTopBtns
              .results-filter-item
                span=el
                btn.close_btn
                  | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/index/close.svg')}
        .main-results-filters
          each el in filters
            .main-results-filters-title
              h6=el.title
              btn.toggle-btn
                | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/index/arrow-toggle.svg')}
            .main-results-filters-container
              each item, index in el.items
                .results-filters-item
                  input(type='checkbox' id=`${item}${index}`)
                  label(for=`${item}${index}`)=item
          .main-results-img
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/index/list.svg')}
