extends ../layouts/main/layout.pug

append variables

block title
  | TITLE

block content
  .plug
    .container
      .plug-info
        .plug-info-logos
          .plug-info-logos_icon
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/logo.svg')}
          .plug-info-logos_icon
            | !{require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/chl-logo.svg')}
        h1.plug-info_title Сайт находится
          span  на реконструкции
        p.plug-info_text
          |ООО «Техцентры СОТРАНС» —
          br
          |официальный дилер CHL в Российской Федерации
        .plug-info-contacts
          h5.plug-info-contacts_title Контакты:
          .plug-info-contacts-item
            .plug-info-contacts-item-des
              .plug-info-contacts-item-des-img
                img(src=require('@/assets/img/location.svg') alt="")
              span.plug-info-contacts-item-des_text г. Санкт-Петербург
          .plug-info-contacts-item
            span.plug-info-contacts-item_title Режим работы
            .plug-info-contacts-item-des
              .plug-info-contacts-item-des-img
                img(src=require('@/assets/img/time.svg') alt="")
              span.plug-info-contacts-item-des_text Пн.-Пт.: 9:00 - 21:00
          .plug-info-contacts-item
            span.plug-info-contacts-item_title Отдел продаж
            .plug-info-contacts-item-des
              .plug-info-contacts-item-des-img
                img(src=require('@/assets/img/phone.svg') alt="")
              a(href='tel:+79218869689').plug-info-contacts-item-des_text +7 (921) 886-96-89
          .plug-info-contacts-item
            .plug-info-contacts-item-des
              .plug-info-contacts-item-des-img
                img(src=require('@/assets/img/email.svg') alt="")
              a(href='mailto:r.romanov@tc-sotrans.ru').plug-info-contacts-item-des_text r.romanov@tc-sotrans.ru
        p.plug-info-name ООО «Техцентры СОТРАНС»
        .plug-info-data
          span ИНН 4716034632
          span КПП 471601001
    .plug__img
      img(src=require('@/assets/img/car-1920.png') alt="")







